@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Light.woff') format('woff'),
       url('../fonts/lato/Lato-Light.ttf')  format('truetype'),
       url('../fonts/lato/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Miso';
  src: url('../fonts/miso/Miso.woff') format('woff'),
	   url('../fonts/miso/Miso.ttf')  format('truetype'),
	   url('../fonts/miso/Miso.svg#Miso') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Miso';
  src: url('../fonts/miso/Miso-Bold.woff') format('woff'),
	   url('../fonts/miso/Miso-Bold.ttf')  format('truetype'),
	   url('../fonts/miso/Miso-Bold.svg#Miso-bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------
 OFFER
----------------------------------------- */
.offer {
	margin: auto;
	background-color: #fdde7e;
	max-width: 1200px;
}

/* -----------------------------------------
 CONTAINER
----------------------------------------- */
.container {
	margin: auto;
	max-width: 1140px;
	min-height: 600px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 1;
	flex-flow: column nowrap;
	-ms-align-items: center;
	align-content: center;
	justify-content: space-between;
	padding: 40px 0 35px;
	max-width: 31.666%;/*361px*/
	min-height: 441px;
	font-family: 'Miso';
	text-align: center;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	color: #333333;
}

.box--big {
	padding: 50px 0 54px;
	min-height: 500px;
}

.box__price {
	font-size: 70px;
	font-weight: 700;
	line-height: 0.8;
	color: #02995b;
}

.box-img {
	align-self: center;
    width: 38%;
}

.box-img img {
	max-width: 100%;
	height: auto;
}

.box__title {
	font-size: 56px;
	font-weight: 400;
}

.box__subtitle {
	align-self: center;
	width: 45%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
}